.salonPageContainer{
  padding-top: 50px;
}

.salonDeBellezaText{
  text-align: center;
  font-size: 35px;
  color: #4a3a34d4;
}

.besoText{
  text-align: center;
  font-size: 60px;
  color: #4a3a34;
}

.contents{
  margin-top: 50px;
}

.span1{
  display: inline-block;
  transition: none 0s ease 0s;
  transform: translateX(-5px) translateY(89px) rotate(-65deg);
}